<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bytedance.scenedemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".navigation.performance.EmptyActivity" />
        <activity android:name=".group.fragment.FragmentBindingDemoActivity" />
        <activity android:name=".group.fragment.TestSceneToViewActivity" />
        <activity android:name="com.bytedance.scenedemo.navigation.forresult.TestActivityResultActivity" />
        <activity android:name="com.bytedance.scenedemo.navigation.forresult.ActivityToSceneDemoActivity" />
        <activity android:name=".restore.SupportRestoreActivity" />
    </application>

</manifest>