<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bytedance.scenedemo">

   <!-- Glide demo need Internet-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".benchmark.performance.EmptyAppCompatActivity" />
        <activity android:name=".migrate.NavigationSceneBindToFragmentSample" />
        <activity android:name=".migrate.TestSceneToViewActivity" />
        <activity android:name="com.bytedance.scenedemo.navigation.forresult.TestActivityResultActivity" />
        <activity android:name="com.bytedance.scenedemo.activity_compatibility.scene_result.ActivityGetSceneResultSampleActivity" />
        <activity android:name=".restore.SupportRestoreActivity" />
        <activity android:name=".migrate.migrate_from_classic_activity_fragment.MigrateFromClassicAndroidActivitySamplesActivity" />
        <activity android:name=".migrate.GroupSceneBindToActivitySample" />
        <activity android:name=".migrate.GroupSceneBindToFragmentSample"/>
        <activity android:name=".auto_recycle.AutoRecycleActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>